.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-end {
  height: 180px;
  width: 270px;
  align-items: center;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  animation: popupAnim 0.5s ease-out;
}

@keyframes popupAnim {
  0% {
      transform: translateY(250%);
  }
  100% {
      transform: translateY(0%);
  }
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form-container label {
  margin-bottom: 10px;
}

.no-conform {
  color: rgb(255, 6, 6);
  font-size: 12px;
  margin-top: 3px;
}

.button {
  margin-top: 10px;
  align-items: center;
  appearance: none;
  background-color: #3EB2FD;
  background-image: linear-gradient(1deg, #4F58FD, #149BF3 99%);
  background-size: calc(100% + 20px) calc(100% + 20px);
  border-radius: 100px;
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-flex;
  font-family: CircularStd,sans-serif;
  font-size: 1rem;
  height: auto;
  justify-content: center;
  line-height: 1.5;
  padding: 6px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color .2s,background-position .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button:active,
.button:focus {
  outline: none;
}

.button:hover {
  background-position: -20px -20px;
}

.button:focus:not(:active) {
  box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 .125em;
}

.label-form {
font-size: 16px;
}

.txt-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.text {
    margin: 10px 0;
    text-align: center;
}
  
.text * {
    margin-bottom: 5px;
    text-align: center;
}

@media screen and (max-width: 375px)  {
  .modal-end {
    width: 70%;
    height: 170px;
  }
  p {
    font-size: 18px;
  }
  .button {
    padding: 7px 20px;
    font-size: 1rem;
    margin-top: 5px;
  }
}

