.container-grid {
    width: 350px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 70px);
    justify-content: space-between;
    grid-gap: 10px;
}

@media screen and (max-width: 414px) {
    .container-grid {
        width: 240px;
        display: grid;
        grid-template-columns: repeat(auto-fill, 65px);
        justify-content: space-between;
        grid-gap: 10px;
    }
}

@media (min-width: 415px) and (max-width: 1025px) {
    .container-grid {
        width: 520px;
        display: grid;
        grid-template-columns: repeat(auto-fill, 95px);
        justify-content: space-between;
        grid-gap: 20px;
    }
}