.container-grid {
    display: grid;
    grid-template-columns: repeat(3, 80px);
    grid-gap: 20px;
}

.container-inline {
    display: inline-block;
}

.container-flex {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

